*{
  margin:0;
  padding: 0;
}
.first{
  min-width: 200px;
  min-height: 150px;
  border: 1px solid;
}
.second{
  padding: 20px;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid;
}
.third{
  min-width: 200px;
  min-height: 150px;
  padding: 30px;
  border: 1px solid;
}